*{
    margin: 0;
    padding: 0;
}

a{
    list-style-type: none;
}
:root{
    --primarycolor: #C7F9CC;
    --secondcolor: white;
    --terciarycolor: #22577A;
    --quaternarycolor: #ebca53;
    --quintenarycolor: #279184;
    --sextenarycolor: #e76f51;
}

#container{
    font-family: 'Merriweather Sans', sans-serif;
}

.logo{
    transform: translateY(25%);
    display: inline-block;
    margin-left: 3%;
    text-align: center;
    color: var(--terciarycolor);
}

header{
    background-color: var(--secondcolor);
    height: 4em;
    -webkit-box-shadow: 2px 5px 5px rgba(175, 175, 175, 0.77);
	-moz-box-shadow:    2px 5px 5px rgba(175, 175, 175, 0.77);
    box-shadow:         2px 5px 5px rgba(175, 175, 175, 0.77);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header ul{
    transform: translateY(125%);
    float: right;
    margin-right: 8em;
}

header li {
    display: inline-block;
    padding-right: 1.2em;
}

header a {
    list-style-type: none;
    color: var(--terciarycolor);
    text-decoration: none;
}
header a:hover{
    color: var(--quaternarycolor);
}

.btnBuy{
    color: var(--sextenarycolor);
    border-radius: 10%;
}





.mainTitle{
    margin-top: 5%;
    margin-left: 3%;
    color: var(--terciarycolor) ;
    margin-bottom: 3%;
    font-size: 2em;
    text-align: center;
}

.main{
    display: grid;
    grid-template-columns: 70% 23%;
    grid-column-gap: 7%;
}

.sidebar{
    color: black;
    grid-column: 2;
    position: fixed;
    right: 0;
    margin-right: 4em;
    width: 20%;
    text-align: left;
    border-radius: 5%;
    margin-bottom: 2em;
}

.sidebar img{
    width: 1em;
    display: inline;
}

.sidebar p{
    margin-bottom: 1em;
    margin-right: 1em;
}

.sidebar a{
    list-style-type: none;
    color: var(--terciarycolor);
    text-decoration: none;
}

.sidebar a:hover{
    color: var(--sextenarycolor);
    font-size: 1.1em;
}

.sidebar h3{
    margin-bottom: 1.2em;
}

.bulletP{
    margin-bottom: 0.2em;    
}

.borderBotton{
    border-bottom: 1px solid var(--secondcolor);
}

.leftSide{
    text-align: left;
    color: var(--quintenarycolor);
}

section{
    width: 90%;
    margin: auto;
    text-align: center;    
    grid-column: 1;
}

.titleTopic{
    font-size: 1.5em;
    text-align: left;
}

.imgTopic{
    padding: 2%;
    width: 50%;
}

.contentTopic{
    margin-bottom: 5%;
    text-align: left;
}

footer{
    height: 9em;
    text-align: center;
    background-color: var(--terciarycolor);
    margin-top: 10em;
}

.understood{
    display: none;
}

footer p {
    padding: 0.3%;
    transform: translateY(100%);
    color: var(--secondcolor)
}

footer img{
    width: 3%;
    transform: translateY(70%);
}